.sidebar-row {
    min-height: 48px;
    padding: 0 16px;
}

.overview .status-label {
    font-size: 3em;
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 0.8em;
}

.overview .info-label {
    margin-bottom: 0.8em;
}

.overview .traffic-icon {
    margin-right: 0.4em;
    font-size: 1.2em;
}

.overview .traffic-label {
    margin-right: 1em;
}

.settings {
    padding: 32px;
}
