.sidebar-row {
    min-height: 48px;
    padding: 0 16px;
}

.bordered {
    border-width: 1px;
    border-style: solid;
}

.title-label {
    font-weight: bold;
    margin-bottom: 0.8em;
}

.content-overview .status-label {
    font-size: 3em;
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 0.8em;
}

.content-overview .info-label {
    margin-bottom: 0.8em;
}

.content-overview .traffic-icon {
    margin-right: 0.4em;
    font-size: 1.2em;
}

.content-overview .traffic-label {
    margin-right: 1em;
}

.content-proxies .proxy-item-box {
    padding: 12px 16px;
}

.content-proxies .proxy-name {
    font-weight: bold;
}

.content-proxies .proxy-type {
    opacity: 0.7;
}

.content-proxies .proxy-addr {
    font-size: 0.85em;
    opacity: 0.7;
}

.content-proxies .active-indicator {
    opacity: 0.6;
}

.proxy-edit-dialog .form-controls > label {
    margin-right: 12px;
    opacity: 0.7;
}

.proxy-edit-dialog .group-proxy-row {
    padding: 6px 12px;
}

#editor.editor-light {
    /* Current line number */
    background-color: #EAEAEC;
}

#editor.editor-dark {
    /* Current line number */
    background-color: #3F4550;
}

.content-rules .rule-error-row {
    padding: 4px 8px;
}

.content-settings .settings-item-box {
    padding: 12px 16px;
}
